.title{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 60px;
}

.title2{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    font-size: 60px;

}

.box{
    display: flex;
    justify-content: center;
    
}

.back{
    text-align: center;
    margin-top: 10px;
}

.next{
    text-align: center;
    text-align: center;
    margin-top: 10px;
}
.prev{
    text-align: center;
    text-align: center;
    margin-top: 10px;
}


